div
    div.remark.info
        span.mif-info.mr-2
        span Data for the next ledger will be loaded after 290 block of the current epoch!
div.row.mb-10
    div.cell-lg-6
        div.border.bd-default.p-2
            div.text-leader2.mb-2 STAKING LEDGER
            table.table.row-border
                tr
                    td.reduce-3 BALANCE
                    td: div.box-value4.flex-justify-end#ledger-staking-balance 0
                tr
                    td.reduce-3 INITIAL MINIMUM BALANCE
                    td: div.box-value4.flex-justify-end#ledger-staking-initial-minimum-balance 0
                tr
                    td.reduce-3 INITIAL BALANCE
                    td: div.box-value4.flex-justify-end#ledger-staking-initial-balance 0
                tr
                    td.reduce-3 DELEGATE TO
                    td: div.box-value4.flex-justify-end#ledger-staking-delegate-key XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 RECEIPT CHAIN HASH
                    td: div.box-value4.flex-justify-end#ledger-staking-receipt-chain-hash XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 VOTING FOR
                    td: div.box-value4.flex-justify-end#ledger-staking-voting-for XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 TOKEN
                    td: div.box-value4.flex-justify-end#ledger-staking-token XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 NONCE
                    td: div.box-value4.flex-justify-end#ledger-staking-nonce 0
                tr
                    td.reduce-3 CLIFF AMOUNT
                    td: div.box-value4.flex-justify-end#ledger-staking-cliff-amount 0
                tr
                    td.reduce-3 CLIFF TIME
                    td: div.box-value4.flex-justify-end#ledger-staking-cliff-time 0
                tr
                    td.reduce-3 VESTING PERIOD
                    td: div.box-value4.flex-justify-end#ledger-staking-vesting-period 0
                tr
                    td.reduce-3 VESTING INCREMENT
                    td: div.box-value4.flex-justify-end#ledger-staking-vesting-increment 0


    div.cell-lg-6
        div.border.bd-default.p-2
            div.text-leader2.mb-2 NEXT LEDGER
            table.table.row-border
                tr
                    td.reduce-3 BALANCE
                    td: div.box-value4.flex-justify-end#ledger-next-balance 0
                tr
                    td.reduce-3 INITIAL MINIMUM BALANCE
                    td: div.box-value4.flex-justify-end#ledger-next-initial-minimum-balance 0
                tr
                    td.reduce-3 INITIAL BALANCE
                    td: div.box-value4.flex-justify-end#ledger-next-initial-balance 0
                tr
                    td.reduce-3 DELEGATE TO
                    td: div.box-value4.flex-justify-end#ledger-next-delegate-key XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 RECEIPT CHAIN HASH
                    td: div.box-value4.flex-justify-end#ledger-next-receipt-chain-hash XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 VOTING FOR
                    td: div.box-value4.flex-justify-end#ledger-next-voting-for XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 TOKEN
                    td: div.box-value4.flex-justify-end#ledger-next-token XXXXXXX...XXXXXXX
                tr
                    td.reduce-3 NONCE
                    td: div.box-value4.flex-justify-end#ledger-next-nonce 0
                tr
                    td.reduce-3 CLIFF AMOUNT
                    td: div.box-value4.flex-justify-end#ledger-next-cliff-amount 0
                tr
                    td.reduce-3 CLIFF TIME
                    td: div.box-value4.flex-justify-end#ledger-next-cliff-time 0
                tr
                    td.reduce-3 VESTING PERIOD
                    td: div.box-value4.flex-justify-end#ledger-next-vesting-period 0
                tr
                    td.reduce-3 VESTING INCREMENT
                    td: div.box-value4.flex-justify-end#ledger-next-vesting-increment 0

