section.container-fluid.pos-fixed.fixed-top.z-top.bg-darkViolet.fg-white
    nav.container.pos-relative.bg-darkViolet(data-role="app-bar" data-expand-point="lg")
        span.no-wrap.brand.no-hover
            a.fg-white.no-decor(href="/") MINATAUR
            span.ml-1.text-bold 2
            span.text-light &nbsp;&nbsp;-&nbsp; #{appTitle}

        ul.app-bar-menu.ml-auto
            li
                a(href="/blockchain") Blockchain
            li
                a.dropdown-toggle.marker-light(href="#") Accounts
                ul.d-menu.place-right(data-role="dropdown")
                    li
                        a(href="/accounts")
                            span.icon.mif-user
                            span Accounts
                    li
                        a(href="/producers")
                            span.icon.mif-organization
                            span Block Producers
            li
                a.dropdown-toggle.marker-light(href="#") Transactions
                ul.d-menu.place-right(data-role="dropdown")
                    li
                        a(href="/transactions")
                            span.icon.mif-users
                            span User Transactions
                    li
                        a(href="/coinbase")
                            span.icon.mif-cogs
                            span Coinbase Rewards
                    li.divider
                    li
                        a(href="/zkapps")
                            span.icon.mif-apps
                            span zkApps
                    li.divider
                    li
                        a(href="/pool")
                            span.icon.mif-broadcast
                            span User Transactions Pool
                    li.disabled
                        a(href="/pool")
                            span.icon.mif-air
                            span zkApps Pool
                    li.divider
                    li.disabled
                        a(href="#")
                            span.icon.mif-clipboard
                            span Check Payment Status
            li
                a.dropdown-toggle.marker-light(href="#") Analytics
                ul.d-menu(data-role="dropdown")
                    li
                        a(href="/analytics/price")
                            span.icon.mif-dollar
                            span Mina Price

            li
                a.dropdown-toggle.marker-light(href="#") Network
                ul.d-menu.place-right(data-role="dropdown")
                    li
                        a(href="/daemon")
                            span.icon.mif-cog
                            span Daemon Status
                    li
                        a(href="/config")
                            span.icon.mif-equalizer
                            span Config
                    li
                        a(href="/peers")
                            span.icon.mif-broadcast
                            span Peers
                    li.disabled
                        a(href="/uptime") Uptime
                    li
                        a(href="/tools/check-ports") Check Ports


            li.disabled
                a(href="#").live
                    span.reduce-2 Live
                    span.mif-feed.ml-1
