section.container-fluid.pos-fixed.fixed-top.z-top.bg-darkViolet.fg-white
    nav.container.pos-relative.bg-darkViolet(data-role="app-bar" data-expand-point="lg")
        span.no-wrap.brand.no-hover
            a.fg-white.no-decor(href="/") MINATAUR
            span.ml-1.text-bold 2
            span.text-light &nbsp;&nbsp;-&nbsp; #{appTitle}

        ul.app-bar-menu.ml-auto
            li
                a(href="/") Home
            li
                a(href="/blockchain") Blockchain
            li
                a.dropdown-toggle.marker-light(href="#") Transactions
                ul.d-menu(data-role="dropdown")
                    li
                        a(href="/transactions")
                            span.icon.mif-settings-ethernet
                            span User Transactions
                    li.disabled
                        a(href="/internal")
                            span.icon.mif-cogs
                            span Internal Commands
                    li.divider
                    li
                        a(href="/pool")
                            span.icon.mif-broadcast
                            span Pool


            li.disabled
                a(href="/zkapps") zkApps
            li
                a(href="/accounts") Accounts
            li.disabled
                a(href="/uptime") Uptime
            li
                a.dropdown-toggle.marker-light(href="#") Network
                ul.d-menu(data-role="dropdown")
                    li
                        a(href="/config")
                            span.icon.mif-cog
                            span Config
                    li
                        a(href="/peers")
                            span.icon.mif-broadcast
                            span Peers

            li.disabled
                a(href="#").live
                    span.reduce-2 Live
                    span.mif-feed.ml-1
