footer.container-fluid.mt-auto
    div.container
        div.p-10
            div.row.flex-justify-center
                ul.inline-list.reduce-1#social-menu
                    li
                        a(href="https://www.facebook.com/serhii.pimenov")
                            span.mif-facebook

                    li
                        a(href="https://twitter.com/serhii_pimenov")
                            span.mif-twitter

                    li
                        a(href="https://www.youtube.com/channel/UC-AwjNVWxPRJYMG7vpiJnfQ")
                            span.mif-youtube

                    li
                        a(href="https://github.com/olton")
                            span.mif-github

            div.text-center.mb-5
                div.text-small You can donate MINA to the author of Minataur at an address:
                div.fg-white.text-bold.d-none-fs.d-block-md.copy-data-to-clipboard.c-pointer(title="Click to copy address to clipboard" data-value="B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w") B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w
                div.fg-white.text-bold.d-block-fs.d-none-md.copy-data-to-clipboard.c-pointer(title="Click to copy address to clipboard" data-value="B62qn7xfSA93rMAAfxze5DwrJEpa6251Y1dkDmsNjMkhnX2LvzsCp3w") B62qn7xfSA93...hnX2LvzsCp3w
                div.text-small
                    span PayPal Address:
                    span.ml-2.fg-white.text-bold.c-pointer(title="CLick to copy address to clipboard" data-value="serhii@pimenov.com.ua") serhii@pimenov.com.ua

            div.text-center.text-upper.reduce-1
                a.m-1.fg-white(href="https://minaprotocol.com") Mina Protocol
                span &bull;
                a.m-1.fg-white(href="https://github.com/olton/mina-node-monitor") Mina Monitor
                span &bull;
                a.m-1.fg-white(href="https://github.com/olton/mina-monitor-cluster") Mina Monitor Cluster
                span &bull;
                a.m-1.fg-white(href="https://minacrypto.com/") Mina Directory

            div.text-center.text-small
                span Minataur
                small.ml-1
                span built with
                a.ml-1.fg-white(href="https://metroui.org.ua") Metro UI

            div.text-center.text-small
                span Charts
                small.ml-1
                span built with
                a.ml-1.fg-white(href="https://ApexCharts.com") ApexCharts

            div.text-center.text-small Copyright 2022-2023 by
                a.ml-1.fg-white(href="mailto:serhii@pimenov.com.ua") Serhii Pimenov.
                span.ml-1 All Rights Reserved.
