footer.container-fluid.mt-auto
    div.container
        div.p-10
            div.row.flex-justify-center
                ul.inline-list.reduce-1#social-menu
                    li
                        a(href="https://www.facebook.com/serhii.pimenov")
                            span.mif-facebook

                    li
                        a(href="https://twitter.com/serhii_pimenov")
                            span.mif-twitter

                    li
                        a(href="https://www.youtube.com/channel/UC-AwjNVWxPRJYMG7vpiJnfQ")
                            span.mif-youtube

                    li
                        a(href="https://github.com/olton")
                            span.mif-github

            div.text-center.mb-5
                div.text-small You can donate the author of Minataur to address:
                div.fg-white.text-bold.d-none-fs.d-block-md.copy-data-to-clipboard.c-pointer(title="Click to copy address to clipboard" data-value="B62qmBGSuC68Hrw7UVaJBcmnmYGs4RQ2MVvhY8pNzdZ6nAqt5nP5tTs") B62qmBGSuC68Hrw7UVaJBcmnmYGs4RQ2MVvhY8pNzdZ6nAqt5nP5tTs
                div.fg-white.text-bold.d-block-fs.d-none-md.copy-data-to-clipboard.c-pointer(title="Click to copy address to clipboard" data-value="B62qmBGSuC68Hrw7UVaJBcmnmYGs4RQ2MVvhY8pNzdZ6nAqt5nP5tTs") B62qmBGSuC...Aqt5nP5tTs

            div.text-center.text-upper.reduce-1
                a.m-1.fg-white(href="https://minaprotocol.com") Mina Protocol
                span &bull;
                a.m-1.fg-white(href="https://github.com/olton/mina-node-monitor") Mina Monitor
                span &bull;
                a.m-1.fg-white(href="https://github.com/olton/mina-monitor-cluster") Mina Monitor Cluster
                span &bull;
                a.m-1.fg-white(href="https://minacrypto.com/") Mina Directory

            div.text-center.text-small
                span Minataur
                small.ml-1
                span built with
                a.ml-1.fg-white(href="https://metroui.org.ua") Metro UI

            div.text-center.text-small Copyright 2023 by
                a.ml-1.fg-white(href="mailto:serhii@pimenov.com.ua") Serhii Pimenov
