head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='https://cdn.metroui.org.ua/v4-dev/css/metro-all.min.css')
    link(rel='stylesheet', href='/css/index.css')

    //include favicon

    title= title