script.
    globalThis.config = !{client}

script(src='//cdn.metroui.org.ua/v4-dev/js/metro.min.js')
script(src='/js/default/global.js')
script(src='/js/default/console.js')
script(src='/js/default/utils.js')
script(src='/js/default/websocket.js')
script(src='/js/default/metro.js')
