script.
    globalThis.config = !{client}

script(src='//cdn.jsdelivr.net/npm/apexcharts')
script(src='/vendor/metro/metro.js')
script(src='/vendor/qrcode/qrcode.min.js')
script(src='/js/default/qrcode.js')
script(src='/js/default/global.js')
script(src='/js/default/console.js')
script(src='/js/default/utils.js')
script(src='/js/default/websocket.js')
script(src='/js/default/metro.js')
