section.container-fluid
    div.container
        div.row
            div.cell-md-6
                div.d-flex.flex-nowrap.flex-align-center.pt-4
                    img(src="images/bull.webp" height="72")
                    img.mb-1(src="images/mina.svg" height="36")
                    div(style="font-size: 50px; top: -4px;").fg-red TAUR
            div.cell-md-6.d-flex.flex-align-center
                div.w-100.pt-4
                    //include _search
