.idea
output
dist
private
packages/**/lib
packages/**/dist
node_modules
coverage
packages/**/coverage
*.bat
.ftpauth
*.log
.jest-*
.cache
.coverage
package-lock.json
*.http
*.key
*.crt
*.pem
*.p12
*config.json