include mixins/_account-trans-table
include mixins/_blocks-table
include mixins/_delegators-table

html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        section.container-fluid
            div.container
                div.row.mt-4
                    div.cell-lg-3.cell-fs-8.order-1
                        div
                            a.c-pointer.h2.mr-4(onclick="history.back()")
                                span.mif-arrow-left
                            span.h1 Account

                    div.cell-lg-7.order-3.order-lg-2
                        div.adv-banner
                            div.adv-label PROMOTION
                            include ads/free

                    div.cell-lg-2.cell-fs-4.order-2.order-lg-3
                        div.d-flex.flex-nowrap.flex-align-center
                            div.ml-auto#qrcode


        section.container-fluid.mt-4
            div.container

                div.remark.alert#account-blockchain-alert(style="display: none")
                    div Account not found in blockchain! Maybe the account has not been activated!

                div.row
                    div.cell-lg-4
                        div.border.bd-default.p-2
                            div.text-muted.pos-absolute(style="top: 4px; right: 4px; font-size: 28px;")
                                span.mif-barcode
                            div.text-small.text-muted.text-upper Account Hash
                            div.box-value2.text-bold#account-hash XXXXXXX...XXXXXXX
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div.text-muted.pos-absolute(style="top: 4px; right: 4px; font-size: 28px;")
                                span.mif-apps
                            div.text-small.text-muted.text-upper Created In Block
                            div.box-value2#account-block XXXXXXX...XXXXXXX
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div.text-muted.pos-absolute(style="top: 4px; right: 4px; font-size: 28px;")
                                span.mif-calendar
                            div.text-small.text-muted.text-upper Creating Time
                            div.box-value2#block-date DD, Mon YYYY hh:mm

                div.row
                    div.cell-lg-8
                        div.border.bd-default.p-2
                            table.table.row-border
                                tr
                                    td.reduce-3 NAME
                                    td: div.box-value4.flex-justify-end#account-name XXX
                                tr
                                    td.reduce-3 SITE
                                    td: div.box-value4.flex-justify-end#account-site XXX
                                tr
                                    td.reduce-3 TELEGRAM
                                    td: div.box-value4.flex-justify-end#account-telegram XXX
                                tr
                                    td.reduce-3 TWITTER
                                    td: div.box-value4.flex-justify-end#account-twitter XXX
                                tr
                                    td.reduce-3 GITHUB
                                    td: div.box-value4.flex-justify-end#account-github XXX
                                tr
                                    td.reduce-3 DISCORD
                                    td: div.box-value4.flex-justify-end#account-discord XXX
                                tr
                                    td(colspan=2)
                                        div.reduce-4.text-muted DESCRIPTION
                                        div.box-value4#account-description XXX


                    div.cell-lg-4
                        div.border.bd-default.p-2.h-100.d-flex.flex-align-center.flex-column.flex-justify-center
                            div#account-balance-locked(style="display: none;" title="Balance has locked amount!")
                                span.mif-lock.mif-2x

                            div#mina-rate.border-right.border-bottom.bd-default.text-center
                                div.mt-2.reduce-4.text-muted.text-upper MINA/USD
                                div.text-small.m-0#account-rate-usd 0.0

                            div.d-flex.flex-column.flex-justify-center.flex-align-center.h-100.w-100
                                div(style="margin-top: 40px").text-small.text-muted.text-upper BALANCE MINA
                                div.box-value.fg-darkViolet.m-0#account-balance 0.0
                                hr
                                div.text-small.text-muted.text-upper BALANCE USD
                                div.box-value.fg-orange.m-0#account-balance-usd 0.0

                            div.row.w-100.mt-auto
                                div.cell-6
                                    div.border.bd-default.p-2.text-center
                                        div.reduce-4.text-muted.text-upper MOVABLE MINA
                                        div.box-value4.m-0.fg-cyan.flex-justify-center: span.reduce-1#balance-liquid 0
                                div.cell-6
                                    div.border.bd-default.p-2.text-center
                                        div.reduce-4.text-muted.text-upper LOCKED MINA
                                        div.box-value4.m-0.fg-red.flex-justify-center: span.reduce-1#balance-locked 0
                                div.cell-12
                                    div.border.bd-default.p-2.text-center
                                        div.reduce-4.text-muted.text-upper.mb-1 UNLOCK MINA
                                        div#cliff
                                            div.box-value4.m-0.flex-justify-center
                                                span.reduce-1#cliff-amount 0
                                            div.ml-auto.box-value4.m-0.flex-justify-center
                                                span.reduce-1#cliff-time 0
                                        div#vesting
                                            div.box-value4.m-0.flex-justify-center
                                                span#balance-unlock 0


                div.row
                    div.cell-lg-2.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper NONCE
                            div.box-value4#account-nonce 0
                    div.cell-lg-2.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper INFERRED NONCE
                            div.box-value4#account-inferred-nonce 0
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper RECEIPT CHAIN HASH
                            div.box-value4#account-receipt-chain-hash XXXXX...XXXXX
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper VOTING FOR (GRAPHQL)
                            div.box-value4#account-voting-for XXXXX...XXXXX

        section.container-fluid#account-produce-data
            div.container
                div.row
                    div.cell-lg-2.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper BLOCKS PRODUCED (canonical)
                            div.box-value4
                                span.reduce-4.text-muted TOTAL:
                                span#blocks-produced 0
                                span.reduce-4.text-muted.ml-auto EPOCH:
                                span#blocks-produced-in-current-epoch 0
                    div.cell-lg-2.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper DELEGATORS IN EPOCH
                            div.box-value4
                                span.reduce-4.text-muted CURR:
                                span#account-delegators-staking 0
                                span.reduce-4.text-muted.ml-auto NEXT:
                                span#account-delegators-next 0
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div#delegate-account
                                div.text-small.text-muted.text-upper STAKE DELEGATED TO
                                div.box-value4#stake-delegated-to XXXXXXX...XXXXXXX
                            div#stake-size
                                div.text-small.text-muted.text-upper STAKE SIZE MINA
                                div.box-value4
                                    span.reduce-4.text-muted CURR:
                                    span#stake-size-current 0
                                    span.reduce-4.text-muted.ml-auto NEXT:
                                    span#stake-size-next 0
                    div.cell-lg-4.cell-md-6
                        div.border.bd-default.p-2
                            div.text-small.text-muted.text-upper VOTING FOR (LEDGER)
                            div.box-value4#account-voting-for2 XXXXX...XXXXX


        section.container-fluid.mt-10
            div.container
                div
                    ul(data-role="tabs" data-expand-point="md")
                        li
                            a(href="#account-user-transactions"): span Transactions
                        li
                            a(href="#account-blocks-producing"): span Blocks
                        li
                            a(href="#account-delegators-list"): span Delegators
                        li.disabled
                            a(href="#account-zkapp-commands"): span zkApp
                        li
                            a(href="#account-ledger-data"): span Ledger

                    div
                        div#account-user-transactions.pt-4
                            include partials/_account-transactions

                        div#account-blocks-producing.pt-4
                            include partials/_account-blocks

                        div#account-ledger-data.pt-4
                            include partials/_account-ledger

                        div#account-delegators-list.pt-4
                            include partials/_account-delegators

        include partials/_footer

        script.
            globalThis.accountHash = "!{hash}"

        include partials/_scripts

        script
            include js/account/wsc.js
            include js/account/index.js
            include js/account/transactions.js
            include js/account/blocks.js
            include js/account/delegators.js
