html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='https://cdn.metroui.org.ua/v4-dev/css/metro-all.min.css')
        link(rel='stylesheet', href='/css/index.css')

        //include favicon

        title= title

    body.m4-cloak
        include partials/_appbar

        section.container-fluid.mt-10
            div.container
                div.place-right.mt-4
                    div.text-muted.text-small#last-updated
                h1.mb-0
                    span Mina Price
                    small.ml-3 (USD)
                div.reduce-2.pl-1
                    span Powered by
                    a.ml-1.fg-cyan.no-decor(href="https://www.coingecko.com/") www.coingecko.com

        section.container-fluid
            div.container
                div.row.mt-10.mb-10.pt-4.pb-4.border-top.border-bottom.bd-default
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted CURRENT PRICE USD
                        div.box-value.mt-0#current_price 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted CHANGE 24h
                        div.box-value.mt-0#price_change_24h 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted % 24h
                        div.box-value.mt-0#price_change_percentage_24h 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted TOTAL SUPPLY
                        div.box-value.mt-0#total-supply 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted MAXIMUM 24h
                        div.box-value.mt-0#high_24h 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted MINIMUM 24h
                        div.box-value.mt-0#low_24h 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted MAXIMUM ALL TIME
                        div.box-value.mt-0#ath 0
                    div.cell-md-3.cell-sm-6
                        div.reduce-3.text-muted MINIMUM ALL TIME
                        div.box-value.mt-0#atl 0

                div.row.mt-4
                    div.cell-lg-6
                        div
                            div(style="height: 350px")#price-chart-candles.d-flex.flex-align-center.flex-justify-center
                                div(data-role="activity" data-type="cycle" data-style="dark")

                    div.cell-lg-6
                        div
                            div(style="height: 350px")#price-chart-hour.d-flex.flex-align-center.flex-justify-center
                                div(data-role="activity" data-type="cycle" data-style="dark")

                    div.cell-lg-6
                        div
                            div(style="height: 350px")#price-chart-48h.d-flex.flex-align-center.flex-justify-center
                                div(data-role="activity" data-type="cycle" data-style="dark")
                    div.cell-lg-6
                        div
                            div(style="height: 350px")#price-chart-month.d-flex.flex-align-center.flex-justify-center
                                div(data-role="activity" data-type="cycle" data-style="dark")




        include partials/_footer

        include partials/_scripts

        script
            include js/analytics/price/wsc.js
            include js/analytics/price/index.js
            include js/analytics/price/charts.js


