html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        section.container-fluid.mt-10
            div.container
                h1.mb-0
                    span Transactions

        section.container-fluid.mt-10
            div.container
                div
                    div.border.bd-default.p-4#chart-tx

                div.row.mt-2
                    div.cell-lg-6
                        div.border.bd-default.p-4#chart-fee
                    div.cell-lg-6
                        div.border.bd-default.p-4#chart-coinbase

                div.row.mt-2
                    div.cell-lg-4
                        div.border.bd-default.p-4#chart-slots
                    div.cell-lg-4
                        div.border.bd-default.p-4#chart-times
                    div.cell-lg-4
                        div.border.bd-default.p-4#chart-participants


        include partials/_footer

        include partials/_scripts

        script
            include js/analytics/transactions/wsc.js
            include js/analytics/transactions/index.js
            include js/analytics/transactions/charts.js


