include mixins/_top
include mixins/_blocks-table

html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        +page-top("Blockchain")

        section.container-fluid.mt-4
            div.container
                div.row
                    div.cell-md-3
                        div(data-role="panel" data-title-caption="Coinbase per Block" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light")
                            div#chart-blockchain-coinbase

                    div.cell-md-3
                        div(data-role="panel" data-title-caption="Transactions per Block" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light")
                            div#chart-blockchain-trans

                    div.cell-md-3
                        div(data-role="panel" data-title-caption="Fee per Block" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light")
                            div#chart-blockchain-fee

                    div.cell-md-3
                        div(data-role="panel" data-title-caption="Slots per Block" data-cls-content="p-0" data-cls-title-caption="text-left enlarge-8 text-light")
                            div#chart-blockchain-slots

        section.container-fluid.mt-4
            div.container
                div
                    div.row.flex-align-start.border.bd-default.ml-0.mr-0
                        div.cell-md-4
                            span.ml-1.text-muted.reduce-4.text-bold BLOCK STATE FILTER
                            div.mt-1-minus
                                input(type="checkbox" checked data-cls-check="bg-cyan no-border" data-role="checkbox" data-caption="<span>Pending</span>" onchange="blocksApplyFilter(this, 'pending')")
                                input(type="checkbox" checked data-cls-check="bg-green no-border" data-role="checkbox" data-caption="<span>Canonical</span>" onchange="blocksApplyFilter(this, 'canonical')")
                                input(type="checkbox" checked data-cls-check="bg-red no-border" data-role="checkbox" data-caption="<span>Orphaned</span>" onchange="blocksApplyFilter(this, 'orphaned')")

                        div.cell-md-4.text-center
                            span.ml-1.text-muted.reduce-4.text-bold BLOCKS FOUND
                            div.mt-1-minus
                                span.ml-1.text-bold(style="font-size: 24px; line-height: 1")#found-blocks 0

                        div.cell-md-4
                            div.text-left-fs.text-right-md
                                button#reload-button.mt-2.button.small.success(onclick="refreshBlocksTable()")
                                    span RELOAD DATA
                                    span.mif-refresh

                    div.row.mt-2
                        div.cell-md-9
                            input#blocks-search(
                                data-role="input"
                                data-prepend="Search: "
                                placeholder="Enter block number, producer key or name, or block hash"
                                data-search-button="false"
                            )

                        div.cell-md-3
                            select(data-role="select" data-filter="false" data-prepend="Show rows: " data-on-change="blocksApplyRowsCount")
                                option(value="20") 20
                                option(value="50" selected) 50
                                option(value="100") 100

                div.mt-2.mb-2#pagination-top

                div.scroll-table-container.border.bd-default.mt-2
                    +blocks-table("blocks-table")

                div.mt-4#pagination-bottom

        include partials/_footer

        include partials/_scripts

        script
            include vendor/chart/chart.min.js

        script
            include js/blockchain/wsc.js
            include js/blockchain/index.js
            include js/blockchain/charts.js
