html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        section.container-fluid
            div.container
                div.row
                    div.cell-md-6
                        div.d-flex.flex-nowrap.flex-align-center.pt-4
                            div
                                span.h1 Daemon Status

        section.container-fluid.mt-4
            div.container


        include partials/_footer

        include partials/_scripts

        script
            include js/daemon/wsc.js
            include js/daemon/index.js

