include mixins/_peers-table

html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        section.container-fluid
            div.container
                div.row
                    div.cell-md-12
                        div.d-flex.flex-nowrap.flex-align-center.pt-4.w-100
                            div
                                span.h1 Network Peers
                            div.ml-auto
                                span.ml-1.text-muted.reduce-4.text-bold RECORDS FOUND
                                div
                                    span.ml-1.text-bold(style="font-size: 24px; line-height: 1")#found-peers 0


        section.container-fluid
            div.container
                +peers-table("peers-table")

        include partials/_footer

        include partials/_scripts

        script
            include js/peers/wsc.js
            include js/peers/index.js


