include mixins/_top
include mixins/_trans-table

html(lang="en").light-theme.scrollbar-type-1.sb-darkViolet
    include partials/_head

    body.m4-cloak
        include partials/_appbar

        +page-top("User Transactions")

        section.container-fluid.mt-4
            div.container
                div.row.flex-align-start.border.bd-default.ml-0.mr-0
                    div.cell-md-3
                        span.ml-1.text-muted.reduce-4.text-bold TRANSACTION TYPE
                        div.mt-1-minus
                            input(type="checkbox" checked data-cls-check="bg-cyan no-border" data-role="checkbox" data-caption="<span>Payment</span>" onchange="applyFilter(this, 'type:payment')")
                            input(type="checkbox" checked data-cls-check="bg-pink no-border" data-role="checkbox" data-caption="<span>Delegation</span>" onchange="applyFilter(this, 'type:delegation')")

                    div.cell-md-3
                        span.ml-1.text-muted.reduce-4.text-bold TRANSACTION STATUS
                        div.mt-1-minus
                            input(type="checkbox" checked data-cls-check="bg-green no-border" data-role="checkbox" data-caption="<span>Applied</span>" onchange="applyFilter(this, 'status:applied')")
                            input(type="checkbox" checked data-cls-check="bg-red no-border" data-role="checkbox" data-caption="<span>Failed</span>" onchange="applyFilter(this, 'status:failed')")

                    div.cell-md-3.text-center
                        span.ml-1.text-muted.reduce-4.text-bold TRANSACTIONS FOUND
                        div
                            span.ml-1.text-bold(style="font-size: 24px; line-height: 1")#found-trans 0

                    div.cell-md-3
                        div.text-left-fs.text-right-md
                            button.mt-3.button.success.small(onclick="refreshTransTable()")
                                span RELOAD DATA
                                span.mif-refresh

                div.row.mt-2
                    div.cell-md-9
                        input#transactions-search(
                            data-role="input"
                            data-prepend="Search: "
                            placeholder="Enter block number, transaction participant key or name, or transaction hash"
                            data-search-button="false"
                        )

                    div.cell-md-3
                        select(data-role="select" data-filter="false" data-prepend="Show rows: " data-on-change="transApplyRowsCount")
                            option(value="20") 20
                            option(value="50" selected) 50
                            option(value="100") 100


                div.mt-2.mb-2#pagination-top

                div.scroll-table-container.border.bd-default.mt-2
                    +trans-table("trans-table")

                div.mt-4#pagination-bottom


        include partials/_footer

        include partials/_scripts

        script
            include vendor/chart/chart.min.js

        script
            include js/transactions/wsc.js
            include js/transactions/index.js
            include js/transactions/charts.js
